header {
    padding: 1em;
    color: rgb(21, 52, 117);
}

#logo {
    height: 75px;
    margin: .25em;
}

main {
    max-width: 500px !important;
}

.accordion-item h3 {
    text-align: center;
}

.accordion-item h3 img {
    margin: 1em;
    max-width: 125px;
}