# ------
# Move this to ~/ and populate with correct inputs
# ------
[general]
host = {{ tower_host }}
tower_username = {{ tower_username }}
# You can generate this by selecting a user from /#/users/ and 
# Clicking "Tokens" or from CLI
oauth_token = {{ tower_oauth_token }}
# May want this to be true for prod
verify_ssl = false
